.button {
	padding: 8px 22px;
	display: flex;
	background: #415360;
	border: none;
	border-radius: 4px;
	color: white;
	font-weight: 500;
	font-size: 12px;
	align-items: center;

	&__text {
		margin-left: 6px;
	}

	&__products {
		margin-top: 89px;
		padding: 13px 29px;
		background: #fdec21;
		border-radius: 12px;
		font-weight: 500;
		font-size: 24px;
		line-height: 33px;
		color: #415360;
		margin-left: auto;
		margin-right: 0;

		p {
			margin-right: 16px;
		}
	}

	&__request {
		margin-top: 30px;
		background: #fdec21;
		border-radius: 12px;
		width: 235px;
		padding: 16px 0;
		font-weight: 800;
		font-size: 16px;
		line-height: 22px;
		color: #415360;
		display: flex;
		justify-content: center;
	}

	&__footer {
		background: #fdec21;
		color: #415360;
	}

	&__burger {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 15px;
		margin-left: 10px;
		width: 18px;
	}

	&__menu {
		display: none;
	}

	&__burger-line {
		width: 10px;
		height: 2px;
		border-radius: 4px;
		background: #ffffff;
		position: relative;

		&::after,
		&::before {
			width: 16.5px;
			content: "";
			height: 2px;
			border-radius: 4px;
			display: block;
			background: #ffffff;
			position: absolute;
			right: 0px;
		}

		&::after {
			top: 6px;
		}

		&::before {
			bottom: 6px;
		}
	}
}

@media (max-width: 1439px) {
	.button {
		&__header {
			padding: 8px;
		}
	}
}

@media (max-width: 767px) {
	.button {
		&__header {
			display: none;
		}

		&__menu {
			display: flex;
		}
	}
}
