.certificate {
	padding: 30px 0 50px 0;
	background-color: #415360;
	overflow: hidden;

	&__header {
		color: #ffffff;
	}

	&__descr {
		font-size: 18px;
		color: #ffffff;
		opacity: 0.6;

		margin-top: 10px;
	}

	&__slider {
		margin-top: 24px;
		position: relative;

		&-content {
			display: grid;
			grid-template-columns: repeat(4, 270px);
			justify-content: space-between;
		}

		&-img {
			border-radius: 12px;
			width: 270px;
			height: 382px;
			object-fit: cover;
		}
	}
}
